.hero_section{
    color: #fff;
    width: 100%;
    padding: 90px 0;
    min-height: 101vh;
}
.hero_section h1{
    font-weight: 700;
    font-size: 45px;
}
.hero_section h1 strong{
    color:#01bfea;
    font-weight: 700;
}
.hero_section h2{
    font-size: 32px;
    font-weight: 400;
}
.get_started{
    color:#01bfea;
    font-weight: 500;
    border: 1.5px solid #01bfea;
    border-radius: 50px;
    font-size: 18px;
    transition: .3s;
    letter-spacing: 1px;
}
.get_started:hover{
    background-color: #01bfee !important;
    color: #fff;
}
#hero .animated{
    animation: UpDown 1.5s ease-in-out infinite alternate-reverse both;
}
#hero img{
    max-width: 300px;
}

@-webkit-keyframes UpDown{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(-10px);
    }
}

@-moz-keyframes UpDown{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(-10px);
    }
}
@-o-keyframes UpDown{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(-10px);
    }
}

@keyframes UpDown{
    0%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(-10px);
    }
}

@media (max-width: 1199.98px) {
    .hero_section h1{
        font-size: 40px;
    }
    .hero_section h2{
        font-size: 28px;
    }
}
@media (max-width: 991.98px) {
    #hero img{
        max-width: 300px;
    }
    .hero_section h1{
        font-size: 32px;
    }
    .hero_section h2{
        font-size: 25px;
    }
    .hero_section .pt-5 {
        padding-top: 0 !important;
    }
}
@media (max-width: 767.98px) {
    .hero_section{
        text-align: center;
        margin-bottom: 40px;
    }
    .hero_section h1{
        font-size: 42px;
    }
    .hero_section h2{
        font-size: 22px;
    }
    .hero_section .pt-5 {
        padding-top: 3rem !important;
    }
}
@media (max-width: 575.98px) {
    .hero_section h1{
        font-size: 35px;
    }
}
@media (max-width: 479.98px) {
    #hero img{
        max-width: 100%;
    }
    .hero_section h1{
        font-size: 28px;
    }
    
    .hero_section .row > * {
        padding-left:0 !important;
        padding-right:0 !important;

    }
}
